<% provide(:title, "Log in") %>
<h1>Login</h1>

<div class="session-new-form">
	<%= form_for(:session, url: sessions_path) do |f| %>
		<div class="form-field">
      		<label class="email-label">mail: </label>
      		<%= f.text_field :email, class: "email" %>
    	</div>
		<div class="form-field">
      		<label class="password-label">パスワード: </label>
      		<%= f.password_field :password, class: "password" %>
    		</div>
		<div class="form-field">
      		<%= f.submit 'Login', class: "edit-submit1" %>
    	</div>
	<% end %>
</div>

<p align="center"><%= link_to "Sign up now!", new_user_path %></p>
