<% provide(:title, "Log in") %>
<h1>Login</h1>

<div class="session-new-form">
	<%= form_for(:session, url: sessions_path) do |f| %>
		<div class="form-field">
      <label class="email-label">mail: </label>
      <%= f.text_field :email, class: "email" %>
    </div>
		<div class="form-field">
      <label class="password-label">パスワード: </label>
      <%= f.password_field :password, class: "password" %>
    </div>
		<div class="form-field">
      <%= f.submit 'Login', class: "edit-submit1" %>
    </div>
	<% end %>

  <div align="center">
    <div class="form-field">
      <%= link_to image_tag("google_login.png", :width => "250px" ), '/auth/google_oauth2', :align => "center" %>
      <br>
      <br>
      <hr color="#f8f8f8">
      <button class="edit-submit1">
        <%= link_to "Sign up", new_user_path %>
      </button>
    </div>
  </div>
</div>
