<div class="show-description">
  <h1>招待情報詳細</h1>
  <br/>
  <h3>招待されている人</h3>
  <table class="show-table">
   <thead>
     <tr>
       <th>名前</th>
       <th>招待ステータス</th>
     </tr>
   </thead>
   <tbody>
     <% @invitation.invitation_relations.each do |member| %>
       <tr>
         <td class="td-show-member">
           <% if member.user.image?  %>
             <div class="td-image" ><%= image_tag member.user.image.url,:width => "80", :height => "80" %></div>
           <% else %>
             <div class="td-image" ><%= image_tag('sample.jpg', :width => "80", :height => "80")  %></div>
           <% end %>
           <div class="name"><%= member.user.user_name %></div>
         </td>
         <td>
           <% if member.status == 0 %>
           　<span style="color: #ff3333; font-weight:bold; font-size:1.1rem;">未回答</span>
           <% elsif member.status == 1 %>
           　<span style="color: #3366ff; font-weight:bold; font-size:1.1rem;">参加</span>
           <% else %>
             <span style="color: #23aa55; font-weight:bold; font-size:1.1rem;">辞退</span>
           <% end %>
         </td>
       </tr>
     <% end %>
   </tbody>
  </table>

  <br>

  <h3 style="margin:30px 0px;">内容</h3>
  <div class="show-contents">
    <%= @invitation.contents %>
  </div>

  <h3 style="margin:30px 0px;">招待が失効するまで...</h3>
  <div class="show-remain">
    <%= @invitation.remain_minutes %>分
  </div>
  <br>

  <h3>招待を...</h3>
  <div class="show-form">
    <%= form_with url: invitation_relation_path, method: :put, local: true, class:"form1" do |f| %>
      <%= f.hidden_field :status, :value => 1 %>
      <% if @invitation_relation.status == 1 %>
        <%= f.submit "受け入れる", disabled: true,class: "accept-button" %>
      <% else %>
        <%= f.submit "受け入れる", disabled: false, class: "accept-button" %>
      <% end %>
    <% end %>
    <%= form_with url: invitation_relation_path, method: :put, local: true, class:"form1" do |f| %>
    <%= f.hidden_field :status, :value => 2 %>
      <% if @invitation_relation.status == 2 %>
        <%= f.submit "辞退する", disabled: true, class: "reject-button"%>
      <% else %>
        <%= f.submit "辞退する", disabled: false, class: "reject-button" %>
      <% end %>
    <% end %>
  </div>
</div>
