<p id="notice"><%= notice %></p>

<h1>グループ一覧</h1>

<table align="center">
  <thead>
    <tr>
      <th>グループ名</th>
      <th>詳細</th>
      <th>編集</th>
      <th>削除</th>
    </tr>
  </thead>

  <tbody align="center">
    <% @groups.each do |group| %>
      <tr>
        <td><%= group.group_name %></td>
        <td><%= link_to 'Show', group %></td>
        <td><%= link_to 'Edit', edit_group_path(group) %></td>
        <td><%= link_to 'Destroy', group, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Group', new_group_path %>
