<p id="notice"><%= notice %></p>

<h1>暇な人一覧</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Choose</th>
      <th>Email</th>
      <th>User name</th>
      <th>Icon path</th>
      <th>Invite num</th>
      <th>Be invited num</th>
      <th>Accept num</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <form>
      <% @users.each do |user| %>
        <tr>
          <td><%= check_box_tag :chosen %></td>
          <td><%= user.email %></td>
          <td><%= user.user_name %></td>
          <td><%= user.icon_path %></td>
          <td><%= user.invite_num %></td>
          <td><%= user.be_invited_num %></td>
          <td><%= user.accept_num %></td>
          <td><%= link_to 'Show', user %></td>
          <td><%= link_to 'Edit', edit_user_path(user) %></td>
          <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </form>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path %>
