<p id="notice"><%= notice %></p>

<h1>ユーザー一覧</h1>

<form class="search" action="" post="post">
  <input class="search-bar" type="text">
  <input class="search-botton" type="submit" value="検索">
</form>

<table align="center">
  <thead>
    <tr>
      <th>ユーザー名</th>
      <th>詳細</th>
      <th>編集</th>
      <th>削除</th>
    </tr>
  </thead>

  <tbody align="center">
    <% @users.each do |user| %>
      <tr>
        <td><%= user.user_name %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Group', new_user_path %>
