Your name：<%= @user.user_name %>
<br />

<%= form_with url: invitations_path, method: :post, local: true do |f| %>
  招待する人一覧
  <% @receivers.each do |receiver| %>
  <p>
  <%= f.hidden_field 'receivers[id][]', :value => receiver.id %>
  <%= receiver.user_name %>
  </p>
  <% end %>
  <br />
  招待内容
  <%= f.text_field :text %>
  <%= f.submit "誘う" %>
<% end %>
