<%= form_with url: invitations_path, method: :post, local: true, class: "invitation-confirm" do |f| %>
  <p>誘う人一覧</p>
  <% @receivers.each do |receiver| %>
  <%= f.hidden_field 'receivers[id][]', :value => receiver.id %>
  <ul class="receiver">
    <% if receiver.image?  %>
      <li class="receiver-image" ><%= image_tag receiver.image.url,:width => "80", :height => "80" %></li>
    <% else %>
      <li class="receiver-image" ><%= image_tag('sample.jpg', :width => "80", :height => "80")  %></li>
    <% end %>
    <li class="receiver-name" ><%= receiver.user_name %><li>
  </ul>
  <% end %>
  <br />
  <p>招待内容</p>
  <%= f.text_area :text, id: "text" ,class: "text-field" %>
  <p>有効時間</p>
  <%= f.select(:time_span, [['1時間', 1], ['2時間', 2], ['3時間', 3]]) %>
  <%= f.submit "招待" , class: "confirm-button" %>
<% end %>
