<%= form_with url: invitations_path, method: :post, local: true, class: "invitation-confirm" do |f| %>
  <p>誘う人一覧</p>
  <% @receivers.each do |receiver| %>
  <%= f.hidden_field 'receivers[id][]', :value => receiver.id %>
  <ul class="receiver">
    <li class="receiver-image" ><%= image_tag receiver.image.url ,:width => "100"%></li>
    <li class="receiver-name" ><%= receiver.user_name %><li>
  </ul>
  <% end %>
  <br />
  <label for="text">招待内容<label>
  <%= f.text_field :text, id: "text" ,class: "text-field" %>
  <%= f.submit "招待" , class: "confirm-button" %>
<% end %>
