<!-- <h1>招待情報</h1>

<h3>招待されている人</h3>
<table class="table table-hover">
 <thead>
   <tr>
     <th>User name</th>
     <th>Email</th>
   </tr>
 </thead>
 <tbody>
   <% @invited_users.each do |user| %>
     <tr>
       <td><%= user.user_name %></td>
       <td><%= user.email %></td>
     </tr>
   <% end %>
 </tbody>
</table>

<br>
<hr>
<br>

<h3>招待が失効するまで...</h3>
<%= @invitation.time_limit %>

<br>
<hr>
<br>

<h3>招待を...</h3>
<%= form_with url: invitation_relation_path, method: :put, local: true do |f| %>
<%= f.hidden_field :status, :value => 1 %>
<%= f.submit "受け入れる"%>
<% end %>
<%= form_with url: invitation_relation_path, method: :put, local: true do |f| %>
<%= f.hidden_field :status, :value => 2 %>
<%= f.submit "辞退する"%>
<% end %> -->
