<p id="notice"><%= notice %></p>

<h1>所属しているグループ一覧</h1>

<table align="center">
  <thead>
    <tr>
      <th>グループ名</th>
      <th>グループの詳細</th>
      <th>メンバーを招待する</th>
      <th>グループ情報を編集する</th>
    </tr>
  </thead>

  <tbody align="center">
    <% @group_relations.each do |group_relation| %>
      <tr>
        <td><%= group_relation.group.group_name %></td>
        <td><%= link_to '詳細', group_relation.group %></td>
        <td><%= link_to '招待', group_relation %></td>
        <td><%= link_to '編集', edit_group_path(group_relation.group) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Group', new_group_path %>
