<h1>グループに招待する</h1>

<h2>グループメンバー</h2>

<table class="free-people-table">
  <thead>
    <tr>
      <th>ユーザー名</th>
    </tr>
  </thead>

  <tbody align="center">
    <% @users_in.each.with_index(1) do |user, i| %>
      <tr>
        <td><%= user.user_name %></td>
      </tr>
    <% end %>
  </tbody>
</table>
   <br/>


<h2>招待する人</h2>

<%= form_with url: group_relations_path, method: :post, local: true do |f| %>
	<table class="free-people-table">
	  <thead>
	    <tr>
	      <th>招待</th>
	      <th>ユーザー名</th>
	    </tr>
	  </thead>
	
	  <tbody align="center">
	    <% @users_out.each.with_index(1) do |user, i| %>
	      <tr>
	      	<td>
	      		<%= check_box_tag 'user[id][]', user.id, false, id: "checkbox-#{i}"  %>
	            <label for=<%= "checkbox-#{i}" %> class=<%= "checkbox-label-#{i}" %> >
	            &nbsp;
	            </label>
	      	</td>
	        <td><%= user.user_name %></td>
	      </tr>
	    <% end %>
	  </tbody>
	</table>
    <br/>
	<%= f.submit "招待する" , id: "submit-button", class: "invite-button"%>
<% end %>